

html {
   
    min-width: 1000px;
    min-height: 1000px;
    height: 100%;
    width: 100%;
}


body {
	padding-top: 10px;
  	padding-bottom: 20px;
  	background-color: rgb(204,222,249) !important;
  	min-width: 100%;

}

#pageBody{
	width: 1500px;
	height: 1000px;
	position: relative;
}


.jumbotron {
	background-image: url("/images/HimalayanMountains.jpg")
}

h3, p{
	/*padding-left:80px;*/
	padding-right: 400px;
}

{
	padding-left: 70px;
}

.absolute {
	position: absolute;
    top: 50px;
    right: 100px;
    background-color: rgb(240, 234, 214);
    border: 12px solid#000080;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom:15px;
    width: 550px;
    padding-bottom: 10px;
}


textarea {
	resize: none;
	width: 550px;
	height: 150px;
}

.leftAbsolute{
	position: absolute;
	padding-left: 70px;
	padding-right: 70px;
	width: 700px;
	left: 70px;
}

.usernameSize{
	font-size: 120%;
}

.searchLook{
	position: relative;
	width: 700px;
	height: 750px;
	background-color: rgb(240, 234, 214);
	border: 12px solid#000080;
	border-radius:10px;
	margin-top: 15px;
	margin-bottom:15px;
	left: 400px;
	font-size: 20px;
	line-height: 1.5
}
#review{
	padding-left: 70px;
}

.buyButton{
	right: 600px;
	bottom: 200px;
}

.position{
	position: absolute;
}
