body {
	padding-top: 10px;
  	padding-bottom: 20px;
  	background-color: rgb(204,222,249) !important;
}

.jumbotron {
	background-image: url("/images/HimalayanMountains.jpg")
}
.dropdown-submenu: {
	position: relative;
}

.dropdown-submenu .dropdown-menu{
	top:0;
	left:100%;
	margin-top: -1px;
}
